h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lora", serif;
	font-weight: 600;
}
body {
	font-family: "Montserrat", sans-serif;
}

:root {
	--ifm-font-family-monospace: "Ubuntu Mono", monospace;
}

code {
	font-family: var(--ifm-font-family-monospace) !important;
	font-size: 0.9rem !important;
}

pre,
pre code {
	font-family: var(--ifm-font-family-monospace) !important;
	font-size: 1.1rem !important;
}

:not(pre) > code {
	background-color: #f2f2f2;
	color: #2d3436;
	margin: 0 2px;
	padding: 2px 4px;
	/* border: 1px solid #e1e4e8; */
	border-radius: 3px;
	font-family: "Ubuntu Mono", monospace;
	font-size: 1rem;
	font-weight: 500;
	transition: background-color 0.2s ease-in-out;
}
:not(pre) > code:hover {
	background-color: #e8e8e8;
}
