/* src/theme/styles/fonts.css */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", serif;
	font-weight: 700;
	color: var(--heading-color); /* Use variable for heading color */
}

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: var(--text-color); /* Use variable for body text color */
}

:root {
	--ifm-font-family-monospace: "Ubuntu Mono", monospace;
}

code {
	font-family: var(--ifm-font-family-monospace) !important;
	font-size: 0.9rem !important;
}

pre,
pre code {
	font-family: var(--ifm-font-family-monospace) !important;
	font-size: 1.1rem !important;
}

:not(pre) > code {
	background-color: var(--inline-code-bg-color); /* Use variable for inline code background */
	color: var(--inline-code-text-color); /* Use variable for inline code text */
	margin: 0 2px;
	padding: 2px 4px;
	border-radius: 3px;
	font-family: "Ubuntu Mono", monospace;
	font-size: 1rem;
	font-weight: 500;
}
