/* src/theme/styles/fonts.css */
:root {
	--ifm-font-family-body: "Montserrat", sans-serif;
	--ifm-font-family-monospace: "Ubuntu Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", serif;
	font-weight: 700;
	color: var(--heading-color); /* Use variable for heading color */
}

body {
	font-family: var(--ifm-font-family-body);
	font-weight: 500;
	color: var(--text-color); /* Use variable for body text color */
	font-size: 0.95rem;
}

code {
	font-family: var(--ifm-font-family-monospace) !important;
	font-size: 0.9rem !important;
}

pre,
pre code {
	font-family: var(--ifm-font-family-monospace) !important;
	font-size: 1rem !important;
}
