h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}
body {
    font-family: "Montserrat", sans-serif;
}

:root {
    --ifm-font-family-monospace: "Ubuntu Mono", monospace;
}

code {
    font-family: var(--ifm-font-family-monospace);
}
